/*base*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'PingFang SC', 'SHeitiSC-Light', 'microsoft yahei', arial;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden; }

li {
  list-style: none; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px; }

html, body {
  width: 100%; }

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@font-face {
  font-family: 'icomoon';
  src: url("base/fonts/icomoon.eot?rezg8x");
  src: url("base/fonts/icomoon.eot?rezg8x#iefix") format("embedded-opentype"), url("base/fonts/icomoon.ttf?rezg8x") format("truetype"), url("base/fonts/icomoon.woff?rezg8x") format("woff"), url("base/fonts/icomoon.svg?rezg8x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-add_circle:before {
  content: "\e900"; }

.icon-arrow_lift:before {
  content: "\e901"; }

.icon-check_circle:before {
  content: "\e902"; }

.icon-close:before {
  content: "\e903"; }

.icon-favorite:before {
  content: "\e904"; }

.icon-keyboard_arrow_right:before {
  content: "\e905"; }

.icon-remove_circle_outline:before {
  content: "\e906"; }

.icon-shopping_cart:before {
  content: "\e907"; }

.icon-thumb_down:before {
  content: "\e908"; }

.icon-thumb_up:before {
  content: "\e909"; }

/*common*/
.star {
  font-size: 0; }
  .star-item {
    display: inline-block;
    background-repeat: no-repeat; }
  .star.star-24 .star-item {
    width: 10px;
    height: 10px;
    margin-right: 3px;
    background-size: 10px 10px; }
    .star.star-24 .star-item:last-child {
      margin-right: 0; }
    .star.star-24 .star-item.on {
      background-image: url("../image/star24_on@2x.png"); }
      @media (min-device-pixel-ratio: 3) {
        .star.star-24 .star-item.on {
          background-image: url("../image/star24_on@3x.png"); } }
    .star.star-24 .star-item.half {
      background-image: url("../image/star24_half@2x.png"); }
      @media (min-device-pixel-ratio: 3) {
        .star.star-24 .star-item.half {
          background-image: url("../image/star24_half@3x.png"); } }
    .star.star-24 .star-item.off {
      background-image: url("../image/star24_off@2x.png"); }
      @media (min-device-pixel-ratio: 3) {
        .star.star-24 .star-item.off {
          background-image: url("../image/star24_off@3x.png"); } }
  .star.star-36 .star-item {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    background-size: 15px 15px; }
    .star.star-36 .star-item:last-child {
      margin-right: 0; }
    .star.star-36 .star-item.on {
      background-image: url("../image/star36_on@2x.png"); }
      @media (min-device-pixel-ratio: 3) {
        .star.star-36 .star-item.on {
          background-image: url("../image/star36_on@3x.png"); } }
    .star.star-36 .star-item.half {
      background-image: url("../image/star36_half@2x.png"); }
      @media (min-device-pixel-ratio: 3) {
        .star.star-36 .star-item.half {
          background-image: url("../image/star36_half@3x.png"); } }
    .star.star-36 .star-item.off {
      background-image: url("../image/star36_off@2x.png"); }
      @media (min-device-pixel-ratio: 3) {
        .star.star-36 .star-item.off {
          background-image: url("../image/star36_off@3x.png"); } }
  .star.star-48 .star-item {
    width: 20px;
    height: 20px;
    margin-right: 22px;
    background-size: 20px 20px; }
    .star.star-48 .star-item:last-child {
      margin-right: 0; }
    .star.star-48 .star-item.on {
      background-image: url("../image/star48_on@2x.png"); }
      @media (min-device-pixel-ratio: 3) {
        .star.star-48 .star-item.on {
          background-image: url("../image/star48_on@3x.png"); } }
    .star.star-48 .star-item.half {
      background-image: url("../image/star48_half@2x.png"); }
      @media (min-device-pixel-ratio: 3) {
        .star.star-48 .star-item.half {
          background-image: url("../image/star48_half@3x.png"); } }
    .star.star-48 .star-item.off {
      background-image: url("../image/star48_off@2x.png"); }
      @media (min-device-pixel-ratio: 3) {
        .star.star-48 .star-item.off {
          background-image: url("../image/star48_off@3x.png"); } }

.c-icon__1 {
  display: inline-block;
  vertical-align: bottom;
  width: 12px;
  height: 12px;
  background-size: 12px;
  background-repeat: no-repeat; }
  .c-icon__1.decrease {
    background-image: url("../image/decrease_1@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__1.decrease {
        background-image: url("../image/decrease_1@3x.png"); } }
  .c-icon__1.discount {
    background-image: url("../image/discount_1@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__1.discount {
        background-image: url("../image/discount_1@3x.png"); } }
  .c-icon__1.guarantee {
    background-image: url("../image/guarantee_1@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__1.guarantee {
        background-image: url("../image/guarantee_1@3x.png"); } }
  .c-icon__1.invoice {
    background-image: url("../image/invoice_1@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__1.invoice {
        background-image: url("../image/invoice_1@3x.png"); } }
  .c-icon__1.special {
    background-image: url("../image/special_1@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__1.special {
        background-image: url("../image/special_1@3x.png"); } }
.c-icon__2 {
  display: inline-block;
  vertical-align: bottom;
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-repeat: no-repeat; }
  .c-icon__2.decrease {
    background-image: url("../image/decrease_2@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__2.decrease {
        background-image: url("../image/decrease_2@3x.png"); } }
  .c-icon__2.discount {
    background-image: url("../image/discount_2@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__2.discount {
        background-image: url("../image/discount_2@3x.png"); } }
  .c-icon__2.guarantee {
    background-image: url("../image/guarantee_2@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__2.guarantee {
        background-image: url("../image/guarantee_2@3x.png"); } }
  .c-icon__2.invoice {
    background-image: url("../image/invoice_2@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__2.invoice {
        background-image: url("../image/invoice_2@3x.png"); } }
  .c-icon__2.special {
    background-image: url("../image/special_2@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__2.special {
        background-image: url("../image/special_2@3x.png"); } }
.c-icon__3 {
  display: inline-block;
  vertical-align: bottom;
  width: 14px;
  height: 14px;
  background-size: 14px;
  background-repeat: no-repeat; }
  .c-icon__3.decrease {
    background-image: url("../image/decrease_3@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__3.decrease {
        background-image: url("../image/decrease_3@3x.png"); } }
  .c-icon__3.discount {
    background-image: url("../image/discount_3@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__3.discount {
        background-image: url("../image/discount_3@3x.png"); } }
  .c-icon__3.guarantee {
    background-image: url("../image/guarantee_3@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__3.guarantee {
        background-image: url("../image/guarantee_3@3x.png"); } }
  .c-icon__3.invoice {
    background-image: url("../image/invoice_3@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__3.invoice {
        background-image: url("../image/invoice_3@3x.png"); } }
  .c-icon__3.special {
    background-image: url("../image/special_3@2x.png"); }
    @media (min-device-pixel-ratio: 3) {
      .c-icon__3.special {
        background-image: url("../image/special_3@3x.png"); } }

/*layout*/
.l-content .l-tab {
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(7, 17, 27, 0.1);
  position: relative; }
  .l-content .l-tab .tab-item {
    flex: 1;
    text-align: center; }
    .l-content .l-tab .tab-item a {
      display: block;
      font-size: 1rem;
      color: #4d555d; }
    .l-content .l-tab .tab-item .active {
      color: #f01414; }
  .l-content .l-tab:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid rgba(7, 17, 27, 0.1);
    content: ''; }
  @media (min-device-pixel-ratio: 1.5) {
    .l-content .l-tab::after {
      transform: scaleY(0.7); } }
  @media (min-device-pixel-ratio: 2) {
    .l-content .l-tab::after {
      transform: scaleY(0.5); } }

.l-header {
  position: relative;
  font-weight: 200;
  color: white;
  background-color: rgba(7, 17, 27, 0.5);
  overflow: hidden; }
  .l-header__wrap {
    display: flex;
    position: relative;
    padding: 24px 12px 18px 24px; }
  .l-header__avatar img {
    border-radius: 2px; }
  .l-header__content {
    margin-left: 16px; }
  .l-header__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px); }
  .l-header .c-content__title {
    padding: 2px 0 8px; }
  .l-header .c-content__brand {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 18px;
    margin-right: 6px;
    background-image: url("../image/brand@2x.png");
    background-size: 30px 18px;
    background-repeat: no-repeat; }
    @media (min-device-pixel-ratio: 3) {
      .l-header .c-content__brand {
        background-image: url("../image/brand@3x.png"); } }
  .l-header .c-content__name {
    line-height: 18px;
    font-size: 16px;
    font-weight: bold; }
  .l-header .c-content__details {
    line-height: 12px;
    font-size: 12px; }
  .l-header .c-content__support {
    padding: 10px 0 2px; }
  .l-header .c-content__text {
    line-height: 12px;
    font-size: 10px; }
  .l-header .c-support-count {
    position: absolute;
    right: 12px;
    bottom: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    text-align: center;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 7px; }
    .l-header .c-support-count__count {
      vertical-align: top; }
    .l-header .c-support-count .icon-keyboard_arrow_right {
      margin-left: 2px; }
  .l-header .c-bullentin {
    position: relative;
    height: 28px;
    line-height: 28px;
    padding: 0 22px 0 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(7, 17, 27, 0.2);
    overflow: hidden; }
    .l-header .c-bullentin__title {
      display: inline-block;
      vertical-align: top;
      width: 22px;
      height: 12px;
      margin-top: 7px;
      background-image: url("../image/bulletin@2x.png");
      background-size: 22px 12px;
      background-repeat: no-repeat; }
      @media (min-device-pixel-ratio: 3) {
        .l-header .c-bullentin__title {
          background-image: url("../image/bulletin@3x.png"); } }
    .l-header .c-bullentin__text {
      vertical-align: top;
      line-height: 28px;
      margin: 0 4px;
      font-size: 10px; }
    .l-header .c-bullentin .icon-keyboard_arrow_right {
      position: absolute;
      right: 12px;
      top: 8px;
      font-size: 10px; }
  .l-header .l-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 17, 27, 0.8);
    background-filter: blur(10px);
    overflow: auto;
    z-index: 100; }
    .l-header .l-detail.fade-enter-active, .l-header .l-detail.fade-leave-active {
      transition: all 1s; }
    .l-header .l-detail.fade-enter, .l-header .l-detail.fade-leave-to {
      opacity: 0; }
    .l-header .l-detail__wrap {
      min-height: 100vh; }
    .l-header .l-detail__main {
      padding: 64px 36px; }
    .l-header .l-detail__name {
      height: 32px;
      line-height: 32px;
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 700;
      text-align: center; }
    .l-header .l-detail__star {
      margin-bottom: 28px;
      text-align: center; }
    .l-header .l-detail__close {
      position: relative;
      width: 32px;
      height: 32px;
      margin: -64px auto 0 auto;
      font-size: 32px;
      clear: both; }
      .l-header .l-detail__close .icon-close {
        color: rgba(255, 255, 255, 0.5); }
    .l-header .l-detail .c-notice__title {
      display: flex;
      margin-bottom: 24px; }
      .l-header .l-detail .c-notice__title-name {
        margin: 0 12px;
        font-size: 14px;
        font-weight: 700; }
      .l-header .l-detail .c-notice__title-line {
        flex: 1;
        position: relative;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        top: -6px; }
    .l-header .l-detail .c-notice__content {
      padding: 0 12px 28px; }
      .l-header .l-detail .c-notice__content-item {
        margin-bottom: 12px; }
        .l-header .l-detail .c-notice__content-item:last-child {
          margin-bottom: 0; }
      .l-header .l-detail .c-notice__content-text, .l-header .l-detail .c-notice__content-introduce {
        line-height: 24px;
        font-size: 12px;
        font-weight: 200; }
      .l-header .l-detail .c-notice__content-introduce {
        line-height: 16px;
        margin-left: 6px; }

.l-goods {
  display: flex;
  position: absolute;
  top: 180px;
  bottom: 56px;
  width: 100%;
  overflow: hidden; }
  .l-goods__sidebar {
    flex: 0 0 80px;
    flex-direction: column;
    font-size: 12px;
    font-weight: 200;
    color: #93999f; }
    .l-goods__sidebar-item {
      display: table;
      width: 56px;
      height: 56px;
      line-height: 14px;
      padding: 0 12px;
      background-color: #F3F5F7; }
      .l-goods__sidebar-item.active {
        color: #07111b;
        background-color: #FDFDFE; }
    .l-goods__sidebar .c-sidebar__text {
      display: table-cell;
      width: 56px;
      vertical-align: middle;
      position: relative; }
      .l-goods__sidebar .c-sidebar__text:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid rgba(7, 17, 27, 0.1);
        content: ''; }
      @media (min-device-pixel-ratio: 1.5) {
        .l-goods__sidebar .c-sidebar__text::after {
          transform: scaleY(0.7); } }
      @media (min-device-pixel-ratio: 2) {
        .l-goods__sidebar .c-sidebar__text::after {
          transform: scaleY(0.5); } }
    .l-goods__sidebar .c-icon {
      margin-right: 2px; }
  .l-goods__food {
    flex: 1; }
    .l-goods__food .c-food__title {
      height: 26px;
      line-height: 26px;
      padding-left: 14px;
      font-size: 12px;
      color: #93999f;
      border-left: 4px solid #d9dde1;
      background-color: #F3F5F7; }
    .l-goods__food .c-food__item {
      display: flex;
      padding: 18px 0;
      margin: 0 18px;
      position: relative; }
      .l-goods__food .c-food__item:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: 1px solid rgba(7, 17, 27, 0.1);
        content: ''; }
      @media (min-device-pixel-ratio: 1.5) {
        .l-goods__food .c-food__item::after {
          transform: scaleY(0.7); } }
      @media (min-device-pixel-ratio: 2) {
        .l-goods__food .c-food__item::after {
          transform: scaleY(0.5); } }
      .l-goods__food .c-food__item:last-child {
        position: relative; }
        .l-goods__food .c-food__item:last-child:after {
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          border-top: 1px solid rgba(7, 17, 27, 0);
          content: ''; }
        @media (min-device-pixel-ratio: 1.5) {
          .l-goods__food .c-food__item:last-child::after {
            transform: scaleY(0.7); } }
        @media (min-device-pixel-ratio: 2) {
          .l-goods__food .c-food__item:last-child::after {
            transform: scaleY(0.5); } }
    .l-goods__food .c-food__icon {
      flex: 0 0 57px; }
      .l-goods__food .c-food__icon-img {
        width: 57px;
        height: 57px; }
    .l-goods__food .c-food__content {
      flex: 1;
      margin-left: 10px; }
      .l-goods__food .c-food__content-name {
        line-height: 14px;
        font-size: 14px;
        color: #07111b;
        margin-top: 2px; }
      .l-goods__food .c-food__content-kind, .l-goods__food .c-food__content-extra {
        margin-top: 8px;
        font-size: 10px;
        color: #93999f; }
      .l-goods__food .c-food__content-sell {
        margin-right: 12px; }
      .l-goods__food .c-food__content-price {
        margin-top: 8px;
        font-size: 10px/14px;
        font-weight: 700;
        color: #f01414; }
      .l-goods__food .c-food__content-oldPrice {
        margin-left: 8px;
        font-size: 10px;
        font-weight: 700;
        color: #93999f;
        text-decoration: line-through; }
  .l-goods__shopcart {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 48px;
    background-color: #141d27; }

.c-shopcart {
  display: flex;
  height: 100%; }
  .c-shopcart__leftContent {
    flex: 1; }
  .c-shopcart__rightContent {
    flex: 0 0 105px;
    background-color: #2B333B; }
  .c-shopcart__logo {
    display: inline-block;
    position: relative;
    top: -10px;
    padding: 6px;
    margin: 0 12px;
    border-radius: 50%;
    background-color: #141d27; }
    .c-shopcart__logo-icon {
      width: 44px;
      height: 44px;
      text-align: center;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.2); }
      .c-shopcart__logo-icon .icon-shopping_cart {
        line-height: 2;
        font-size: 24px;
        color: rgba(255, 255, 255, 0.4); }
  .c-shopcart__total {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.4); }
  .c-shopcart__price {
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid rgba(255, 255, 255, 0.4); }
  .c-shopcart__extra {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 200; }
  .c-shopcart__explain {
    line-height: 48px;
    margin: 0 8px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.4); }
  .c-shopcart__count {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 16px;
    line-height: 2;
    text-align: center;
    font-size: 9px;
    font-weight: 700;
    color: white;
    border-radius: 35%;
    background-color: #f01414;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); }

/*# sourceMappingURL=main.css.map */
