/*base*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'PingFang SC', 'SHeitiSC-Light', 'microsoft yahei', arial;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden; }

li {
  list-style: none; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px; }

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px; }

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px; }

html, body {
  width: 100%; }

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@font-face {
  font-family: 'icomoon';
  src: url("base/fonts/icomoon.eot?rezg8x");
  src: url("base/fonts/icomoon.eot?rezg8x#iefix") format("embedded-opentype"), url("base/fonts/icomoon.ttf?rezg8x") format("truetype"), url("base/fonts/icomoon.woff?rezg8x") format("woff"), url("base/fonts/icomoon.svg?rezg8x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-add_circle:before {
  content: "\e900"; }

.icon-arrow_lift:before {
  content: "\e901"; }

.icon-check_circle:before {
  content: "\e902"; }

.icon-close:before {
  content: "\e903"; }

.icon-favorite:before {
  content: "\e904"; }

.icon-keyboard_arrow_right:before {
  content: "\e905"; }

.icon-remove_circle_outline:before {
  content: "\e906"; }

.icon-shopping_cart:before {
  content: "\e907"; }

.icon-thumb_down:before {
  content: "\e908"; }

.icon-thumb_up:before {
  content: "\e909"; }

/*components*/
/*layout*/
.l-content .l-tab {
  display: flex;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(7, 17, 27, 0.1);
  position: relative; }
  .l-content .l-tab .tab-item {
    flex: 1;
    text-align: center; }
    .l-content .l-tab .tab-item a {
      display: block;
      font-size: 1rem;
      color: #4d555d; }
    .l-content .l-tab .tab-item .active {
      color: #f01414; }
  .l-content .l-tab:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid rgba(7, 17, 27, 0.1);
    content: ''; }
  @media (min-device-pixel-ratio: 1.5) {
    .l-content .l-tab::after {
      transform: scaleY(0.7); } }
  @media (min-device-pixel-ratio: 2) {
    .l-content .l-tab::after {
      transform: scaleY(0.5); } }

.l-header {
  position: relative;
  font-weight: 200;
  color: white;
  background-color: rgba(7, 17, 27, 0.5);
  overflow: hidden; }
  .l-header__wrap {
    display: flex;
    position: relative;
    padding: 24px 12px 18px 24px; }
  .l-header__avatar img {
    border-radius: 2px; }
  .l-header__content {
    margin-left: 16px; }
    .l-header__content .c-content__title {
      padding: 2px 0 8px; }
    .l-header__content .c-content__brand {
      display: inline-block;
      vertical-align: top;
      width: 30px;
      height: 18px;
      margin-right: 6px;
      background-image: url("../image/brand@2x.png");
      background-size: 30px 18px;
      background-repeat: no-repeat; }
      @media (min-device-pixel-ratio: 3) {
        .l-header__content .c-content__brand {
          background-image: url("../image/brand@3x.png"); } }
    .l-header__content .c-content__name {
      line-height: 18px;
      font-size: 16px;
      font-weight: bold; }
    .l-header__content .c-content__details {
      line-height: 12px;
      font-size: 12px; }
    .l-header__content .c-content__support {
      padding: 10px 0 2px; }
    .l-header__content .c-content__icon {
      display: inline-block;
      vertical-align: bottom;
      width: 12px;
      height: 12px;
      background-size: 12px;
      background-repeat: no-repeat; }
      .l-header__content .c-content__icon.decrease {
        background-image: url("../image/decrease_1@2x.png"); }
        @media (min-device-pixel-ratio: 3) {
          .l-header__content .c-content__icon.decrease {
            background-image: url("../image/decrease_1@3x.png"); } }
      .l-header__content .c-content__icon.discount {
        background-image: url("../image/discount_1@2x.png"); }
        @media (min-device-pixel-ratio: 3) {
          .l-header__content .c-content__icon.discount {
            background-image: url("../image/discount_1@3x.png"); } }
      .l-header__content .c-content__icon.guarantee {
        background-image: url("../image/guarantee_1@2x.png"); }
        @media (min-device-pixel-ratio: 3) {
          .l-header__content .c-content__icon.guarantee {
            background-image: url("../image/guarantee_1@3x.png"); } }
      .l-header__content .c-content__icon.invoice {
        background-image: url("../image/invoice_1@2x.png"); }
        @media (min-device-pixel-ratio: 3) {
          .l-header__content .c-content__icon.invoice {
            background-image: url("../image/invoice_1@3x.png"); } }
      .l-header__content .c-content__icon.special {
        background-image: url("../image/special_1@2x.png"); }
        @media (min-device-pixel-ratio: 3) {
          .l-header__content .c-content__icon.special {
            background-image: url("../image/special_1@3x.png"); } }
    .l-header__content .c-content__text {
      line-height: 12px;
      font-size: 10px; }
  .l-header__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(10px); }
  .l-header .c-support-count {
    position: absolute;
    right: 12px;
    bottom: 14px;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    text-align: center;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 7px; }
    .l-header .c-support-count__count {
      vertical-align: top; }
    .l-header .c-support-count .icon-keyboard_arrow_right {
      margin-left: 2px; }
  .l-header .c-bullentin {
    position: relative;
    height: 28px;
    line-height: 28px;
    padding: 0 22px 0 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgba(7, 17, 27, 0.2);
    overflow: hidden; }
    .l-header .c-bullentin__title {
      display: inline-block;
      vertical-align: top;
      width: 22px;
      height: 12px;
      margin-top: 7px;
      background-image: url("../image/bulletin@2x.png");
      background-size: 22px 12px;
      background-repeat: no-repeat; }
      @media (min-device-pixel-ratio: 3) {
        .l-header .c-bullentin__title {
          background-image: url("../image/bulletin@3x.png"); } }
    .l-header .c-bullentin__text {
      vertical-align: top;
      line-height: 28px;
      margin: 0 4px;
      font-size: 10px; }
    .l-header .c-bullentin .icon-keyboard_arrow_right {
      position: absolute;
      right: 12px;
      top: 8px;
      font-size: 10px; }
  .l-header .l-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 17, 27, 0.8);
    overflow: auto;
    z-index: 100; }
    .l-header .l-detail__wrap {
      min-height: 100vh; }
    .l-header .l-detail__main {
      padding: 64px 36px; }
    .l-header .l-detail__name {
      height: 32px;
      line-height: 32px;
      margin-bottom: 16px;
      font-size: 32px;
      font-weight: 700;
      text-align: center; }
    .l-header .l-detail__close {
      position: relative;
      width: 32px;
      height: 32px;
      margin: -64px auto 0 auto;
      font-size: 32px;
      clear: both;
      z-index: 200; }
    .l-header .l-detail .icon__close {
      color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=main.css.map */
