.l-food {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 48px;
  z-index: 30;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #FDFDFE;
  transform: translatex(0);

  &__bg {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__details {
    position: relative;
    padding: 18px;
  }
  &__title {
    font-size: 14px;
    font-weight: 400;
    color: rgb(7, 17, 27);
  }
  &__back {
    position: absolute;
    top: 10px;
    left: 0;
    .icon-arrow_lift {
      display: block;
      padding: 0 10px 10px;
      font-size: 12px;
      color: #FFFFFF;
    }
  }
  &__name {
    line-height: 14px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(7, 17, 27);
  }
  &__extra {
    margin-top: 8px;
    font-size: 10px;
    color: rgb(147, 153, 159);
  }
  &__sell {
    margin-right: 12px;
  }
  &__price {
    @extend .c-food__content-price;
    margin-top: 18px;
  }
  &__oldPrice {
    @extend .c-food__content-oldPrice;
  }
  &__joincart {
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 74px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 10px;
    color: rgb(2555, 255, 255);
    border-radius: 12px;
    background-color: rgb(0, 120, 220);
  }
  &__cartcontrol {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
  &__introduce {
    padding: 18px;
    &-text {
      line-height: 24px;
      margin-top: 6px;
      padding-left: 8px;
      font-size: 12px;
      font-weight: 200;
      color: rgb(77, 85, 93);
    }
  }
  &__rating{
    padding-bottom: 50px;
    &-title{
      @extend .l-food__title;
      padding: 18px 18px 0;
    }
  }

  &__list{
    padding: 0 18px;
  }
  &__item{
    position: relative;
    padding: 16px 0;
    @include border-1px(rgba(7, 17, 27, 0.1));
    &-time{
      line-height: 12px;
      font-size: 10px;
      color: rgb(147, 153, 159);
    }
    &-content{
      margin-top: 6px;
      font-size: 0;
    }
    &-text{
      margin-left: 4px;
      font-size: 12px;
      color: rgb(7, 17, 27);
    }
    &-user{
      position: absolute;
      top:16px;
      right:0;
      font-size: 0;
      line-height: 12px;
    }
    &-name{
      margin-right: 6px;
      font-size: 10px;
      color: rgb(143, 153, 159);
    }
    &-img{
      display: inline-block;
      vertical-align: top;
    }
    .icon-thumb_up{
      font-size: 12px;
      color:rgb(0, 160, 220);
    }
    .icon-thumb_down{
      font-size: 12px;
      color:rgb(147, 153, 159);
    }
  }
  &__norating{
    padding: 18px;
    font-size: 14px;
    color: rgb(147, 153, 159);
  }
}
