.l-goods {
  display: flex;
  position: absolute;
  top: 180px;
  bottom: 56px;
  width: 100%;
  overflow: hidden;
  &__sidebar {
    flex: 0 0 80px;
    //display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 200;
    color: rgb(240, 20, 20);
    &-item {
      //flex: 1;
      display: table;
      width: 56px;
      height: 56px;
      line-height:14px;
      padding: 0 12px;
      background-color: #F3F5F7;
    }

    .c-sidebar {
      &__text {
        display: table-cell;
        width: 56px;
        vertical-align: middle;
        @include border-1px(rgba(7, 17, 27, 0.1));
      }
    }
    .c-icon{
      margin-right: 2px;
    }
  }

  &__food {
    flex: 1;
  }



}
